<section class="content-header">
  <h1>
    Itens
    <small>
      <span ng-hide="ctrl.empresa.id">Exibir Item</span>
    </small>
  </h1>
  <div crud-breadcrumbs="show"></div>
</section>

<section class="content">
  <div flash-message></div>
  <div class="row">
    <div class="col-lg-8">
      <div class="panel panel-default">
        <div class="panel-heading">
          Item: {{ctrl.item.nome}}
        </div>
        <table class="table table-bordered table-striped">
          <tr display-field label="Nome" value="ctrl.item.nome"></tr>
          <tr display-field label="Quantidade" value="ctrl.item.quantidade"></tr>
          <tr display-field label="Valor1" value="ctrl.item.valor1 | currency"></tr>
          <tr display-field label="Valor2" value="ctrl.item.valor2 | currency"></tr>
          <tr display-field label="Valor3" value="ctrl.item.valor3 | currency"></tr>
          <tr display-field label="Unidade" value="ctrl.item.unidade"></tr>
        </table>
        <div class="panel-footer">
          <button crud-button="edit" item="ctrl.item"></button>
          <button crud-button="delete" item="ctrl.item"></button>
        </div>
      </div>
    </div>
  </div>
</section>
