<div crud-breadcrumbs="show"></div>
<h2>Exibir Item</h2>
<div flash-message ></div>

<table class="table table-bordered table-striped">
    <tr display-field label="Nome" value="ctrl.item.nome"></tr>
    <tr display-field label="Quantidade" value="ctrl.item.quantidade"></tr>
    <tr display-field label="Valor1" value="ctrl.item.valor1 | currency"></tr>
    <tr display-field label="Valor2" value="ctrl.item.valor2 | currency"></tr>
    <tr display-field label="Valor3" value="ctrl.item.valor3 | currency"></tr>
    <tr display-field label="Unidade" value="ctrl.item.unidade"></tr>
</table>

<div class="form-actions">
    <button crud-button="edit" item="ctrl.item"></button>
    <button crud-button="delete" item="ctrl.item" ></button>
</div>
