<section class="content-header">
  <h1>
    Empresas
    <small>
      <span ng-hide="ctrl.usuario.id">Criar Usuario</span>
      <span ng-show="ctrl.usuario.id">Editar Usuario</span>
    </small>
  </h1>
  <div crud-breadcrumbs="{{ctrl.usuario.id ? 'edssssit' : 'create'}}"></div>
</section>

<section class="content">
  <div flash-message></div>
  <div class="row">
    <div class="col-lg-9">
      <div class="panel panel-default">
        <div class="panel-heading">
          Cadastro de Usuários
        </div>

        <form name="form" class="form-horizontal" role="form" novalidate>
          <div class="panel-body">
          <fieldset class="scheduler-border">
            <div field-container label="Usuário" invalid="form.username.$invalid" class="input-mini">
              <input name="login" type="text" class='input-mini' ng-model="ctrl.usuario.username" required />
            </div>

            <div field-container label="Password" invalid="form.password.$invalid">
              <input name="password" type="password" class='form-control' ng-model="ctrl.usuario.password" required />
            </div>

            <div field-container label="Tipo de Usuário" invalid="form.tipoUsuario.$invalid" class="input-mini">
              <select name="tipoUsuario" class='form-control' ng-model="ctrl.usuario.tipoUsuario" required>
                <option value="">Selecione</option>
                <option value="A">Administrador</option>
                <option value="P">Contas à pagar</option>
                <option value="R">Contas à receber</option>
                <option value="E">Estoque</option>
              </select>
            </div>

            <div class="panel-footer">
              <button crud-button="save" item="ctrl.usuario" is-disabled="form.$invalid"></button>
              <span ng-if="ctrl.usuario.id">
                <button crud-button="delete" item="ctrl.usuario"></button>
              </span>
            </div>
          </fieldset>

        </form>
      </div>
    </div>
  </div>
</section>
