<div crud-breadcrumbs="{{ctrl.usuario.id ? 'edit' : 'create'}}"></div>
<h2>
    <span ng-hide="ctrl.usuario.id">Criar Usuario</span>
    <span ng-show="ctrl.usuario.id">Editar Usuario</span>
</h2>

<div flash-message ></div>

<div class="col-sm-6">
  <div class="panel panel-default">
    <div class="panel-body">
<form name="form" class="form-horizontal" role="form" novalidate>
  <fieldset class="scheduler-border">
	<div field-container label="Usuário" invalid="form.username.$invalid" class="input-mini">
		<input name="login" type="text" class='input-mini' ng-model="ctrl.usuario.username" required  />
	</div>

	<div field-container label="Password" invalid="form.password.$invalid">
		<input name="password" type="password" class='form-control' ng-model="ctrl.usuario.password" required  />
	</div>

    <div>
        <button crud-button="save" item="ctrl.usuario" is-disabled="form.$invalid"></button>
        <span ng-if="ctrl.usuario.id"><button crud-button="delete" item="ctrl.usuario"></button></span>
    </div>

</fieldset>

</form>
</div>
</div>
</div>
