<div crud-breadcrumbs="show"></div>
<h2>Exibir Usuario</h2>
<div flash-message ></div>

<table class="table table-bordered table-striped">
    <tr display-field label="Login" value="ctrl.usuario.login"></tr>
    <tr display-field label="Password" value="ctrl.usuario.password"></tr>
    <tr display-field label="Nome" value="ctrl.usuario.nome"></tr>
    <tr display-field label="Tipo" value="ctrl.usuario.tipo"></tr>
</table>

<div class="form-actions">
    <button crud-button="edit" item="ctrl.usuario"></button>
    <button crud-button="delete" item="ctrl.usuario" ></button>
</div>
