<div crud-breadcrumbs="{{ctrl.entrada.id ? 'edit' : 'create'}}"></div>
<h2>
    <span ng-hide="ctrl.entrada.id">Criar Entrada</span>
    <span ng-show="ctrl.entrada.id">Editar Entrada</span>
</h2>

<div flash-message ></div>

<form name="form" class="form-horizontal" role="form" novalidate>

	<div field-container label="Data" invalid="form.data.$invalid">
		<input name="data" type="text" class='form-control' date-field="{current-text:'Hoje'}" ng-model="ctrl.entrada.data" required  />
	</div>

	<div field-container label="Valor" invalid="form.valor.$invalid">
		<input name="valor" type="number" class='form-control' ng-model="ctrl.entrada.valor" required  />
	</div>

	<div field-container label="Empresa" invalid="form.empresa.$invalid">
		<select name="empresa" class="form-control" ng-model="ctrl.entrada.empresa" required  ng-options="item.toText for item in ctrl.empresaList track by item.id"  ></select>
	</div>

  <div field-container label="Número Título" invalid="form.numeroTitulo.$invalid">
    <input name="numeroTitulo" type="text" class='form-control' ng-model="ctrl.entrada.numeroTitulo" required  />
  </div>
  <div field-container label="Observação" invalid="form.observacao.$invalid">
    <input name="observacao" type="text" class='form-control' ng-model="ctrl.entrada.observacao" required  />
  </div>
  <input type="hidden" name="tipo" ng-model="ctrl.entrada.tipo" value="R" />
    <div>
        <button crud-button="save" item="ctrl.entrada" is-disabled="form.$invalid"></button>
        <span ng-if="ctrl.entrada.id"><button crud-button="delete" item="ctrl.entrada"></button></span>
    </div>

</form>
