<div crud-breadcrumbs="{{ctrl.empresa.id ? 'edit' : 'create'}}"></div>
<h2>
    <span ng-hide="ctrl.empresa.id">Criar Empresa</span>
    <span ng-show="ctrl.empresa.id">Editar Empresa</span>
</h2>

<div flash-message ></div>

<form name="form" class="form-horizontal" role="form" novalidate>
	<div field-container label="Nome" invalid="form.nome.$invalid">
		<input name="nome" type="text" class='form-control' ng-model="ctrl.empresa.nome"   placeholder="Digite o Nome"required  />
	</div>

	<div field-container label="Cnpj" invalid="form.cnpj.$invalid">
		<input name="cnpj" type="text" class='form-control' ng-model="ctrl.empresa.cnpj" required
    placeholder='00.000.000/0000-00' mask='00.000.000/0000-00'/>
	</div>

	<div field-container label="Inscricao Estadual" invalid="form.inscricaoEstadual.$invalid">
		<input name="inscricaoEstadual" type="text" class='form-control' ng-model="ctrl.empresa.inscricaoEstadual" placeholder="Digite a Inscrição Estatual."required  />
	</div>

	<div field-container label="Endereco" invalid="form.endereco.$invalid">
		<input name="endereco" type="text" class='form-control' ng-model="ctrl.empresa.endereco" placeholder="Digite o nome da Rua" required  />
	</div>

	<div field-container label="Numero" invalid="form.numero.$invalid">
		<input name="numero" type="number" class='form-control' ng-model="ctrl.empresa.numero" placeholder="Digite o número" required  />
	</div>

	<div field-container label="Complemento" invalid="form.complemento.$invalid">
		<input name="complemento" type="text" class='form-control' ng-model="ctrl.empresa.complemento" placeholder="Digite o Complemento" required  />
	</div>

	<div field-container label="Cidade" invalid="form.cidade.$invalid">
		<input name="cidade" type="text" class='form-control' ng-model="ctrl.empresa.cidade" placeholder="Digite a cidade" required  />
	</div>

	<div field-container label="Bairro" invalid="form.bairro.$invalid">
		<input name="bairro" type="text" class='form-control' ng-model="ctrl.empresa.bairro" placeholder="Digite o Bairro" required  />
	</div>

	<div field-container label="UF" invalid="form.UF.$invalid">
    <select name="UF" class='form-control' ng-model="ctrl.empresa.UF" required>
      <option value="">Selecione</option>
    	<option value="AC">AC</option>
    	<option value="AL">AL</option>
    	<option value="AM">AM</option>
    	<option value="AP">AP</option>
    	<option value="BA">BA</option>
    	<option value="CE">CE</option>
    	<option value="DF">DF</option>
    	<option value="ES">ES</option>
    	<option value="GO">GO</option>
    	<option value="MA">MA</option>
    	<option value="MG">MG</option>
    	<option value="MS">MS</option>
    	<option value="MT">MT</option>
    	<option value="PA">PA</option>
    	<option value="PB">PB</option>
    	<option value="PE">PE</option>
    	<option value="PI">PI</option>
    	<option value="PR">PR</option>
    	<option value="RJ">RJ</option>
    	<option value="RN">RN</option>
    	<option value="RS">RS</option>
    	<option value="RO">RO</option>
    	<option value="RR">RR</option>
    	<option value="SC">SC</option>
    	<option value="SE">SE</option>
    	<option value="SP">SP</option>
    	<option value="TO">TO</option>
    </select>
	</div>

	<div field-container label="CEP" invalid="form.CEP.$invalid">
		<input name="CEP" type="text" class='form-control' ng-model="ctrl.empresa.CEP" required
    placeholder="00.000-000" mask="00.000-000"/>
	</div>

	<div field-container label="Telefone1" invalid="form.telefone1.$invalid">
		<input name="telefone1" type="text" class='form-control' ng-model="ctrl.empresa.telefone1" placeholder="(000) 0000-0000"
     mask="(000) 0000-0000" required />
	</div>

	<div field-container label="Telefone2" invalid="form.telefone2.$invalid">
		<input name="telefone2" type="text" class='form-control' ng-model="ctrl.empresa.telefone2" required
    placeholder="(000) 0000-0000" mask="(999) 9999-9999"/>
	</div>

	<div field-container label="Email" invalid="form.email.$invalid">
		<input name="email" type="text" class='form-control' ng-model="ctrl.empresa.email" required
    placeholder="exemplo@exemplo.com"/>
	</div>

	<div field-container label="Cliente" invalid="form.isCliente.$invalid">
    <input name="isCliente" type="checkbox" class='form-control' ng-model="ctrl.empresa.isCliente" />
	</div>

	<div field-container label="Fornecedor" invalid="form.isFornecedor.$invalid">
    <input name="isFornecedor" type="checkbox" class='form-control' ng-model="ctrl.empresa.isFornecedor" />
	</div>
    <div>
        <button crud-button="save" item="ctrl.empresa" is-disabled="form.$invalid"></button>
        <span ng-if="ctrl.empresa.id"><button crud-button="delete" item="ctrl.empresa"></button></span>
    </div>

</form>
