<div crud-breadcrumbs="list"></div>

<div class="clearfix">
	<h2 class="pull-left">Empresa List</h2>
	<div class="pull-right"><button crud-button="create" ></button></div>
</div>
<div flash-message ></div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><i class="fa fa-filter"></i> Filtrar Lista</h3>
  </div>
  <div class="panel-body">
<div class="row">
<form class="form">
	<div class="form-group col-md-3">
		<label for="filter.nome">Nome</label>
		<input type="text" class='form-control' ng-model="ctrl.filter.nome" ng-model-options="{ debounce: 300 }"  />
    </div>
	<div class="form-group col-md-3">
		<label for="filter.cnpj">Cnpj</label>
		<input type="text" class='form-control' ng-model="ctrl.filter.cnpj" ui-mask="99.999.999/99-99" ng-model-options="{ debounce: 300 }"  />
    </div>
	<div class="form-group col-md-3">
		<label for="filter.inscricaoEstadual">Inscricao Estadual</label>
		<input type="text" class='form-control' ng-model="ctrl.filter.inscricaoEstadual" ng-model-options="{ debounce: 300 }"  />
    </div>
	<div class="form-group col-md-3">
		<label for="filter.endereco">Endereco</label>
		<input type="text" class='form-control' ng-model="ctrl.filter.endereco" ng-model-options="{ debounce: 300 }"  />
    </div>
</form>
</div>
  </div>
</div>

<table id="list" class="table table-striped table-bordered table-hover">

    <thead sort-header ng-model="ctrl.sort" on-sort="ctrl.reload()">
        <th sortable-column title="Id" property="id"></th>
		<th sortable-column title="Nome" property="nome"></th>
		<th sortable-column title="Cnpj" property="cnpj"></th>
		<th sortable-column title="Inscricao Estadual" property="inscricaoEstadual"></th>
		<th sortable-column title="Endereco" property="endereco"></th>
        <th>&nbsp;</th>
    </thead>
    <tbody>
        <tr class="animate-repeat" ng-repeat="item in ctrl.empresaList">
            <td><a href="#/show/{{item.id}}">{{item.id}}</a></td>
			<td>{{ item.nome }}</td>
			<td>{{ item.cnpj }}</td>
			<td>{{ item.inscricaoEstadual }}</td>
			<td>{{ item.endereco }}</td>
            <td>
                <button crud-button="edit" item="item" ></button>
                <button crud-button="delete" item="item" after-action="ctrl.reload()"></button>
            </td>
        </tr>
    </tbody>
</table>

<div pagination total-items="ctrl.empresaList.getTotalCount()"
	items-per-page="ctrl.pageSize" ng-model="ctrl.page" ng-change="ctrl.load()"
	next-text="Próxima" previous-text="Anterior" first-text="Primeira" last-text="Última">
</div>
